body, html {
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* Estilos para o cabeçalho */
header {
    background-image: url('/img/10.jpg'); /* Caminho para a sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixa a imagem de fundo para que ela não role com a página */
    padding: 20px 20px; /* Ajuste o padding para dar espaço ao texto e à foto */
    text-align: left; /* Alinha o conteúdo à esquerda */
    height: 700px; /* Aumenta a altura do cabeçalho */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-with-photo {
    display: flex;
    align-items: center;
}

.logo-with-photo img {
    width: 80px; /* Ajuste o tamanho da sua foto */
    height: 80px; /* Ajuste o tamanho da sua foto */
    border-radius: 50%; /* Deixa a foto redonda, ajuste conforme necessário */
    margin-right: 20px; /* Espaçamento entre a foto e o texto */
}

header .logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.5rem; /* Ajuste o tamanho conforme necessário */
    color: #e91e63; /* Rosa */
    margin-left: 20px; /* Margem à esquerda para afastar do canto */
}

header nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 1.2rem; /* Tamanho da fonte aumentado */
}

header nav ul li a:hover {
    color: #ffd700; /* Dourado */
}

#contato {
    padding: 50px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

#contato h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    color: #e91e63; /* Rosa */
    margin-bottom: 30px;
}

#contato form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contato form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#contato form input,
#contato form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato form button {
    width: 100%;
    padding: 12px;
    background-color: #e91e63; /* Rosa */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contato form button:hover {
    background-color: #ffd700; /* Dourado */
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
